[Desktop Entry]
Version=1.0
Name=Litecash Wallet
Comment=Scalable confidential cryptocurrency
Exec=/usr/bin/LitecashWallet %U
Icon=litecash
Terminal=false
Type=Application
Categories=Network
MimeType=application/x-litecash-item;
GenericName=Litecash Wallet
